<div class="content" role="main" style="width:100%;">
  <table>
    <tr>
      <td>
        <h3>Listagem de Terapêuticas por Utente</h3>
      </td>
    </tr>
    <tr>
      <td style="width:100px">
        <mat-form-field>
          <mat-label>Utentes</mat-label>
          <mat-select [(ngModel)]="selectedUtente">
            <mat-option *ngFor="let utente of utentes" [value]="utente.idUtente">
              {{utente.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <button (click)='getTerapeuticasPorUtenteById()' mat-button>Carregar</button>
      </td>
    </tr>
  </table>

  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="utente">
        <th mat-header-cell *matHeaderCellDef>Utente</th>
        <td mat-cell *matCellDef="let element"> {{element.utente}} </td>
      </ng-container>
  
      <ng-container matColumnDef="medicamento">
        <th mat-header-cell *matHeaderCellDef>Medicamento</th>
        <td mat-cell *matCellDef="let element"> {{element.medicamento}} </td>
      </ng-container>
  
      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef>Qtd.</th>
        <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dataHora">
        <th mat-header-cell *matHeaderCellDef>Data/Hora</th>
        <td mat-cell *matCellDef="let element"> {{element.dataHora | date: 'dd-MM-yyyy hh:mm:ss'}} </td>
      </ng-container>

      <ng-container matColumnDef="dataExecucao">
        <th mat-header-cell *matHeaderCellDef>Data Execução</th>
        <td mat-cell *matCellDef="let element"> {{element.dataExecucao | date: 'dd-MM-yyyy hh:mm:ss'}} </td>
      </ng-container>

      <ng-container matColumnDef="periodicidade">
        <th mat-header-cell *matHeaderCellDef>Periodicidade (h)</th>
        <td mat-cell *matCellDef="let element"> {{element.periodicidade}} </td>
      </ng-container>

      <ng-container matColumnDef="fim">
        <th mat-header-cell *matHeaderCellDef>Fim da Terapêutica</th>
        <td mat-cell *matCellDef="let element"> {{element.fim | date: 'dd-MM-yyyy hh:mm:ss'}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div></div>

