iframe{
    border:none;
}

.h-100perc{
    height: 100%;
}

.w-100perc{
    width: 100%;
}

.login_container {
    width: 500px;
}

.h-divider{
    border-bottom:1px solid #e3e6f0;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }