<div class="content" role="main" style="width:100%;">
  <table>
    <tr>
      <td>
        <h3>Listagem de Utentes por Técnico</h3>
      </td>
    </tr>
    <tr>
      <td style="width:100px">
        <mat-form-field>
          <mat-label>Técnicos</mat-label>
          <mat-select [(ngModel)]="selectedTecnico">
            <mat-option *ngFor="let tecnico of tecnicos" [value]="tecnico.ID">
              {{tecnico.Nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <button (click)='getUtentesPorTecnicoById()' mat-button>Carregar</button>
      </td>
    </tr>
  </table>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome do Utente</th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="morada">
        <th mat-header-cell *matHeaderCellDef>Morada</th>
        <td mat-cell *matCellDef="let element"> {{element.morada}} </td>

      </ng-container><ng-container matColumnDef="contacto">
        <th mat-header-cell *matHeaderCellDef>Contacto</th>
        <td mat-cell *matCellDef="let element"> {{element.contacto}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>

