<div class="content" role="main" style="width:100%;">
  <table>
    <tr>
      <td>
        <h3>Eliminação de Terapêuticas</h3>
      </td>
    </tr>
    <tr>
      <td style="width:100px">
        <button (click)='eliminarTerapeuticaById()' mat-button>Eliminar</button>
  </tr>
  </table>
  <br />

  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!--Checkbox Column-->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)"
                  [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!--Utente Column-->
        <ng-container matColumnDef="utente">
          <th mat-header-cell *matHeaderCellDef>Utente</th>
          <td mat-cell *matCellDef="let element"> {{element.utente}} </td>
        </ng-container>

        <!--Medicamento Column-->
        <ng-container matColumnDef="medicamento">
          <th mat-header-cell *matHeaderCellDef>Medicamento</th>
          <td mat-cell *matCellDef="let element"> {{element.medicamento}} </td>
        </ng-container>

        <!--Quantidade Column-->
        <ng-container matColumnDef="quantidade">
          <th mat-header-cell *matHeaderCellDef>Qtd.</th>
          <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
        </ng-container>

        <!--Data_Hora Column-->
        <ng-container matColumnDef="dataHora">
          <th mat-header-cell *matHeaderCellDef>Data/Hora</th>
          <td mat-cell *matCellDef="let element"> {{element.dataHora | date: 'dd-MM-yyyy hh:mm:ss'}} </td>
        </ng-container>

        <!--Data_Execução Column-->
        <ng-container matColumnDef="dataExecucao">
          <th mat-header-cell *matHeaderCellDef>Data Execução</th>
          <td mat-cell *matCellDef="let element"> {{element.dataExecucao | date: 'dd-MM-yyyy hh:mm:ss'}} </td>
        </ng-container>

        <!--Periodicidade Column-->
        <ng-container matColumnDef="periodicidade">
          <th mat-header-cell *matHeaderCellDef>Periodicidade (h)</th>
          <td mat-cell *matCellDef="let element"> {{element.periodicidade}} </td>
        </ng-container>

        <!--Fim_Terapêutica Column-->
        <ng-container matColumnDef="fim">
          <th mat-header-cell *matHeaderCellDef>Fim da Terapêutica</th>
          <td mat-cell *matCellDef="let element"> {{element.fim | date: 'dd-MM-yyyy hh:mm:ss'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <br />
</div>
