<div class="content" role="main" style="width:100%;">
  <table>
    <tr>
      <td>
        <h3>Alteração de Estado de Medicamentos</h3>
      </td>
    </tr>
    <tr>
      <td style="width:100px">
        <button mat-raised-button color="primary" (click)="alterarEstadoMedicamentoById()" mat-button>Alterar Estado</button>
  </tr>
  </table>
  <br />

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!--Checkbox Column-->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!--Medicamento Column-->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Medicamento</th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <!-- Marca Column-->
      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
      </ng-container>

      <!--Posologia Column-->
      <ng-container matColumnDef="posologia">
        <th mat-header-cell *matHeaderCellDef>Posologia</th>
        <td mat-cell *matCellDef="let element"> {{element.posologia}} </td>
      </ng-container>

      <!--Estado Column-->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

  </div>
  <br />
</div>
